body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    max-width: 1440px;
}

.menu {
    list-style-type: none;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header_left {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;

}

.header_right {
    padding: 30px;
}

.logo {
    margin: 30px 0px 0px 50px;
}

.logo_text {
    margin-top: 30px;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    align-items: center;
}

ul.menu {
    margin: 0;
    padding: 0;
}
.menu_item_resp {
    display: none;
}

.menu_lang, .text_blue {
    color: #0536FC;
}



.block1, .block4 {
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 210px;
}

.block4 {
    margin-left: 50px;
}

h1 {
    font-size: 57px;
    width: 425px;
    margin: 30px 0px 70px 0px;
}

.text_descr{
    font-size: 16px;
    width: 237px;
}

.text_descr2 {
    font-size: 16px;
    width: 320px;
}

.button1, .button2{
    width: 213px;
    height: 55px;
    background-color: #0536FC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 100px 0px;
}

.button1_text, .button2_text {
    color: white;
}

.block2 {
    
    height: 820px;
    border: 1px black;
    background-image: url(./pexels-anastasia-shuraeva-84672952.png);
    background-repeat: no-repeat;
}

.block3 {
    
    height: 820px;
    background-image: url(./Rectangle22.png);
}

.block4 {
    
    height: 820px;
    
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 900px) {
    main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 1050px) {
   header {
    display: grid;
    margin-top: 10px;
    padding: 0px;
   }

   .logo, .menu_item_resp, .menu_lang {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
   } 

   .menu_item, .logo_text {
    display: none;
   } 
   
}